.navbar{
   
    
    width: 100%;
}
.main{
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    width:60px;
    height:44px;
}
.policy{
    margin-left:30%;
}
.story{
    
    /* margin-right:9%; */
}
.navbar1{
    margin-left:5%;
    margin-right:5%
}
.image1{
    height:50px ;
    width:50px;
    border-radius:50%;
    margin-left:810px;
}
.abc{
    display:flex
}
.imgsearch{

  margin-left:-2%;
  
}
.searchh{
    margin-left:2%; 
  border:none;
  margin-top:3%;
  color:#E8E8E8
}
/* .row{
    display:flex;
} */
.mainfilter{
    display:flex;
    margin-left:50%;
}
.secnav{
    display:flex;
}
.filterbox{
    width:25%;
   border:1px solid #757575;

}
.explore{

 font-weight: 10;
}
.mission{
    display:flex;
    width:100%
}

.grdbtn{
    width:10%
}
/* .grid{
    margin-left:10px
}
.lists{
    margin-left:2%
} */

    @media screen and (min-width:769px) and (max-width:991px){

        .navbar
{
    width: 100%;
    
}
.imgsearch{

    margin-left:10%;
    
  }

.container
{
    margin-left: 0px;
}
        .image1{
            height:50px ;
            width:50px;
            border-radius:50%;
            margin-left:0%
        }
        .policy{
            margin-left:0%;
        }
        .navbar1{
            margin-left:0%;
           
        }
        .filterbox{
            width:35%;
        }
}
@media screen and (min-width:360px) and (max-width:768px){


       .policy{
font-size:150%;
       }
       .searchh{
        margin-left:11%;
        width:60%; 
      border:none;
      margin-top:4%;

    }
    .imgsearch{

        margin-left:11%;
       
      }
      .filterbox{
        width:45%;
        
    }
    .main{
        padding-left: 2%;
        padding-right: 2%;
    }
    .filterbox1{
        margin-left:0%
        
    }
   }